let mapleader=" "
let g:EasyMotion_do_mapping = 0
set easymotion
set ignorecase
set smartcase
set incsearch
set hlsearch
set magic
set showmode
set showcmd
vnoremap <C-c> "+y
nmap s <Plug>(easymotion-s)
nmap <leader> <Plug>(easymotion-sn)
imap <C-i> <C-c><Plug>(easymotion-s)
nnoremap <esc> :nohl<cr>
vnoremap / y/<c-r>"<cr>
vmap s <Plug>(easymotion-s)
sethandler <C-v> i:ide 
sethandler <C-r> i:ide 
